#coin-value {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
}
@media screen and (min-width: 901px) {
    #icon {
        display: flex;
        width: 33%;
        margin: 2vw;
    }

#coin-Data-Gif{
    display:flex;
    flex-direction: row;
    align-items: center;
}
#coin-value{
    font-size: 2vw;
}
#gif1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
}

@media screen and (max-width: 900px) {
    #icon {
        display: flex;
        width: 40%;
        margin: 2vw;
    }
    #coin-value{
        font-size: 3vw;
    }
    #gif1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #coin-Data-Gif{
        flex-direction: column;
    }
}

@media screen and (max-width: 580px) {
    #gif1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #coin-value{
        font-size: 4vw;
    }
    #icon {
        min-width: 100%;
    }
    #coin-Data-Gif{
        flex-direction: column;
    }
}